@using DiamondQuranWeb.Helpers
@{
    ViewBag.Title = "عن الموقع" + " - " + Constants.AppName;
}

@section description{
<meta name="description" content="سياسة الخصوصية ومعلومات عن موقع محرك بحث القرآن الماسي">
}

<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading1">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    عن الموقع
                </button>
            </h5>
        </div>
        <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
            <div class="card-body" dir="rtl">
                <p dir="rtl">
                    القرآن الماسي محرك بحث متطور للقرآن الكريم

                    يحتوي القران الماسي على 11 خصيصة للبحث في القرآن الكريم
                    بحيث يسهل على الباحث البحث في مفردات وجمل القرآن الكريم
                    يمتاز محرك البحث بسهولة البحث عن اي مفردة للقرآن الكريم بجميع متشاقتها اللغوية
                    واظهار نتائج البحث بلون متميز مع احصائية دقيقة لنتائج البحث
                    كما يمكن بسهولة حفظ نتائج البحث في المفضلة
                    وكتابة تعليق على الاية
                    مع وجود 7 تفاسير للقرآن الكريم
                    يستخدم الموقع افضل نسخة رقمية للقران الكريم التابعة لموقع تنزيل tanzil.net
                    وهي افضل نسخة رقمية للقران الكريم في الشبكة العنكبوتيه ولاتحتوي على اية خطا
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    اتصل بنا
                </button>
            </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body" dir="rtl">
                <p dir="rtl">
                    لاي استفسار او اقتراح يرجى التواصل على <a href = "mailto: support@diamondquran.com">البريد الالكتروني</a>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    سياسة الخصوصية
                </button>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                <div class="container pb-3 heading-title-main">
                    <h3 class="my-4 header-tabs-main">ما هي المعلومات التي نجمعها من خلال موقعنا؟</h3>
                    <p class="py-2">نقوم بجمع معلومات خاصة عنك عند التسجيل في موقع الوزارة أو عند ملء نموذج، كأن يُطلب منك إدخال اسمك أو عنوان البريد الإلكتروني الخاص بك عند الطلب أو التسجيل في موقعنا حسب ما تقتضيه الحاجة.</p>
                    <p class="my-2">يمكنك زيارة موقعنا بدون إظهار هويتك، حيث نقوم بجمع معلومات ملفات تعريف الارتباط وعنوان بروتوكول الإنترنت الخاص بك، بالإضافة إلى تخزين كافة المعلومات التي تقوم بإدخالها في قائمة "اتصل بنا" على موقعنا، مع معلومات أخرى مثل الاسم الأول، واسم العائلة، واسم الشركة، ورقم الهاتف، وعنوان البريد الإلكتروني.</p>
                    <p class="my-2">كما نقوم أيضًا بتخزين عدد من المعلومات الأخرى على بوابة الخدمات الإلكترونية في موقعنا من أجل معالجة خدمات الترخيص مثل: تفاصيل الجهة، وتفاصيل جهة الاتصال الموثقة: رقم الجوال، عنوان البريد الإلكتروني، الاسم الكامل.</p>
                    <h3 class="my-4 header-tabs-main">كيف نستخدم المعلومات التي نجمعها؟</h3>
                    <p>يمكن استخدام المعلومات التي نجمعها من خلال تسجيل دخولك للموقع بإحدى الطرق التالية</p>
                    <ul dir="rtl">
                        <li><p>تخصيص تجربتك.. حيث تساعدنا معلوماتك الخاصة على الاستجابة بشكل أفضل للاحتياجات الفردية الخاصة بك.</p></li>
                        <li><p>تحسين موقعنا على الإنترنت.. إذ أننا نسعى باستمرار لتحسين عروض موقعنا على الإنترنت بناءً على المعلومات وردود الفعل التي نتلقاها منك.</p></li>
                        <li><p>تحسين خدمة العملاء.. لأن المعلومات الخاصة بك تساعدنا على الاستجابة بشكل أكثر فعالية لطلبات خدمة العملاء واحتياجات الدعم.</p></li>
                        <li><p>معالجة المعاملات والردود: تأكد من أنه لن يتم بيع معلوماتك، سواءً كانت عامة أو خاصة، أو تبادلها أو نقلها أو إعطاؤها لأي جهة أخرى لأي سبب كان، دون موافقتك، وأن هدفنا دائمًا هو تقديم خدمة أفضل.</p></li>
                        <li><p>إرسال رسائل البريد الإلكتروني الدورية – وهذه خاصة للمشتركين في الرسائل الإخبارية وترسل إلى عنوان البريد الإلكتروني الذي قمت بتزويدنا به وقد يستخدم لإرسال المعلومات والتحديثات إلى طلبك.</p></li>
                        <li><p>إدارة التنبيهات الترويجية والاستبيانات أو مميزات الموقع الأخرى. إن معرفة عنوان بروتوكول الإنترنت الخاص بك يساعدنا في تحسين موقعنا على الانترنت،.</p></li>
                    </ul>
                    <h3 class="my-4 header-tabs-main">كيف نحمي معلوماتك؟</h3>
                    <p class="my-2">نقوم بتنفيذ مجموعة متنوعة من التدابير الأمنية للحفاظ على سلامة المعلومات الشخصية الخاصة بك، بالإضافة إلى ذلك، يتم تشفير جميع كلمات السر التي تم إدخالها.</p>
                    <h3 class="my-4 header-tabs-main">ما نوع المعلومات التي نستخدمها في تقاريرنا التحليلية؟</h3>
                    <p class="my-2">نستخدم تقرير "غوغل" التحليلي للقيام بتحليلات مواقع الويب التي تحصل على معلوماتها من عناوين بروتوكول الإنترنت، لإظهار المعلومات المعروضة مثل: البلد، المدينة، الجهاز، الصفحات التي تمت زيارتها، ووقت الجلسة لكل صفحة تمت زيارتها، وتستخدم هذه التقارير داخليًا فقط لأغراض التحليل وتطوير الموقع.</p>
                    <h3 class="my-4 header-tabs-main">هل نستخدم ملفات تعريف الارتباط؟</h3>
                    <p class="my-2">نعم</p>
                    <h3 class="my-4 header-tabs-main">روابط الطرف الثالث</h3>
                    <p class="my-2">نقوم في بعض الأحيان بتضمين أو تقديم خدمات طرف ثالث ، وللعلم فإن هذه المواقع الخاصة بالجهات الخارجية لديها سياسات خصوصية مستقلة، ولذا فإننا ننصحكم بقراءة سياسات الخصوصية الخاصة بها لأنها قد لا تتفق مع سياسية الخصوصية للموقع من الناحية القانونية ولا من حيث السياق.</p>
                    <h3 class="my-4 header-tabs-main">سياسة الخصوصية عبر الإنترنت</h3>
                    <p class="my-2">تنطبق سياسة الخصوصية عبر الأنترنت على المعلومات التي يتم جمعها من خلال موقعنا الإلكتروني أثناء اتصالك بالأنترنت، وليست على المعلومات التي يتم جمعها في وضع عدم الاتصال.</p>
                    <h3 class="my-4 header-tabs-main">موافقتك</h3>
                    <p class="my-2">باستخدامك لموقعنا، فأنت بالفعل موافق على سياسة الخصوصية.</p>
                    <h3 class="my-4 header-tabs-main">التغييرات في سياسة الخصوصية</h3>
                    <p class="my-2">إذا قررنا تغير سياسة الخصوصية، سيتم نشر التغيرات بهذه الصفحة مع الإشارة إلى تاريخ حدوثها. آخر تعديل لهذه السياسة بتاريخ 24/11/2021 م.</p>
                    <h3 class="my-4 header-tabs-main">تواصل معنا</h3>
                    <p class="my-2">إذا كان لديك أية أسئلة حول سياسة الخصوصية هذه، فيمكنك الاتصال بنا عبر صفحة اتصل بنا</p>
                </div>
            </div>
        </div>
    </div>
</div>
