@*<div class="row">
        <div class="col-12 col-lg-6" style="background-color:lavender;">.col-sm-4</div>
        <div class="col-12 col-lg-6" style="background-color:lavenderblush;">.col-sm-8</div>
    </div>A*@

@*<div class="a">
        A
    </div>

    <div class="aa">

    </div>*@

@*<div style="position:absolute;width:500px;height:500px">
        <div style="position:absolute; left:50% ;transform: translateY(-50%); width:50px;height:50px;background-color:red">

        </div>
    </div>*@

@*<div style="position:absolute; background-color:red;width:300px;height:400px">
        <div class="absolute">
        </div>
    </div>*@

<script>

</script>
<style>
    .a {
        width: 500px;
        height: 300px;
        background-color: red;
    }

    .a {
        background-color: blue;
        font-size: large;
    }

    .aa {
    }
</style>